html {
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
img {
    display: block !important;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.ReadMsgBody {
    width: 100%;
}
.ExternalClass {
    width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
    line-height: 100%;
}
.images {
    display: block !important;
    width: 100% !important;
}
.heading {
    font-family: 'Arial', Arial, Helvetica Neue, Helvetica, sans-serif !important;
}
.MsoNormal {
    font-family: 'Open Sans', Arial, Helvetica Neue, Helvetica, sans-serif !important;
}
p {
    margin-botom: 12px !important;
    padding: 0 !important;
}
.paragraph {
    margin-bottom: 16px !important
}
a {
    color: #00B4A4;
}
.display-button td, .display-button a {
    font-family: 'Open Sans', Arial, Helvetica Neue, Helvetica, sans-serif !important;
}
.display-button a:hover {
    text-decoration: none !important;
}
	
/*Video Embed*/	
.video-wrapper {display:none;}
 @media (-webkit-min-device-pixel-ratio: 0) and (min-device-width:1024px) 
 {
  .video-wrapper { display:block!important; }
  .video-fallback { display:none!important; }
 }
  @supports (-webkit-overflow-scrolling:touch) and (color:#ffffffff) {
    div[class^=video-wrapper] { display:block!important; }
    div[class^=video-fallback] { display:none!important; }
  }
  #MessageViewBody .video-wrapper { display:block!important; }
  #MessageViewBody .video-fallback { display:none!important; }

/* MEDIA QUIRES */
@media only screen and (min-width:799px) {
.saf-table {
    display: table !important;
}
.main-width {
    width: 600px;
	display:inline-block;
	width:100%; max-width:600px; vertical-align:top;
}
.width680 {
    width: 680px !important;
    max-width: 680px !important;
}
}

@media only screen and (max-width:799px) {
body {
    width: auto !important;
}
.display-width {
    width: 100% !important;
}
.display-width-inner {
    width: 600px !important;
}
.padding {
    padding: 0 20px !important;
}
.res-padding-full {
    padding: 0px !important;
}
.res-padding-right {
    padding-right: 0px !important;
}
.res-padding-left {
    padding-left: 0px !important;
}
.width680 {
    width: 100% !important;
    max-width: 100% !important;
}
}

@media only screen and (max-width:680px) {
.child1-width {
    width: 54% !important;
    max-width: 54% !important;
}
.child2-width {
    width: 46% !important;
    max-width: 46% !important;
}
.full-width-height {
    padding-bottom: 20px !important;
    padding-top: 50px !important;
}
.res-padding-left {
    padding-left: 40px !important;
}
.res-padding-right {
    padding-right: 40px !important;
}
.padding-hide {
    padding-bottom: 0px !important;
}
}

@media only screen and (max-width:660px) {
.child1-width {
    width: 52% !important;
    max-width: 52% !important;
}
.child2-width {
    width: 48% !important;
    max-width: 48% !important;
}
.full-width-height {
    padding-bottom: 20px !important;
    padding-top: 50px !important;
}
.res-padding-left {
    padding-left: 10px !important;
}
.res-padding-right {
    padding-right: 10px !important;
}
}

@media only screen and (max-width:640px) {
.child1-width, .child2-width {
    width: 50% !important;
    max-width: 50% !important;
}
.full-width-height {
    padding-bottom: 20px !important;
    padding-top: 50px !important;
}
.res-padding-left {
    padding-left: 20px !important;
}
.res-padding-right {
    padding-right: 20px !important;
}
}

@media only screen and (max-width:639px) {
body {
    width: auto !important;
}
.display-width {
    width: 100% !important;
}
.display-width-inner, .display-width-child {
    width: 100% !important;
}
.display-width-child .button-width .display-button {
    width: auto !important;
}
.res-padding-full {
    padding: 0 20px !important;
}
.padding-hide {
    padding: 0px !important;
}
.padding {
    padding: 0 20px !important;
}
.saf-table {
    display: block !important;
}
.width282 {
    width: 282px !important;
}
.res-height20-bottom {
    padding-bottom: 20px !important;
}
.full-width-height {
    padding-bottom: 60px !important;
}
.div-width {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
}
.footer-width {
    width: 170px !important;
}
.height20 {
    height: 20px !important;
    line-height: 20px !important;
}
.height30 {
    height: 30px !important;
    line-height: 30px !important;
}
.height60 {
    height: 60px !important;
    line-height: 60px !important;
}
.hide-height, .hide-bar {
    display: none !important;
}
.hide-border {
    border: 0 !important;
}
.txt-center {
    text-align: center !important;
}
.image-center {
    margin: 0 auto !important;
    display: table !important;
}
.res-left {
    margin: 0 auto 0 0;
    display: table;
}
.res-center {
    margin: 0 auto !important;
    display: table !important;
}
span.unsub-width {
    width: 100% !important;
    display: block !important;
    padding-bottom: 10px !important;
}
}

@media only screen and (max-width:480px) {
.display-width table, .display-width-child2 table {
    width: 100% !important;
}
.display-width .button-width .display-button {
    width: auto !important;
}
.display-width-child .footer-width {
    width: 170px !important;
}
.display-width .width282 {
    width: 282px !important;
}
.div-width {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
}
.heading {
    font-size: 24px;
}
p {
    font-size: 18px;
}
}

@media only screen and (max-width:380px) {
.display-width table {
    width: 100% !important;
}
.display-width .button-width .display-button {
    width: auto !important;
}
.display-width-child .width282 {
    width: 100% !important;
}
}
